body {
  background: linear-gradient(to bottom right, rgb(17, 17, 17), rgb(29, 23, 23));
  background-attachment: fixed !important;
  background-repeat: no-repeat; 
  color: white;
}

.loginButton {
  background-color: #6A5FFF;
  width: 100%;
  border-radius: 8px;
}


.loginButton:hover {
  background-color: rgb(50, 32, 255);
}

.loginLabel{
  color: white;
}

.inputLogin{
  backdrop-filter: blur(4px);
  background-color: transparent;
  border: #797676 1px solid;
  border-radius: 8px;
}

.divRemember{
  color: #797676;
  margin-left: 10px;
  
}

.divRememberButton{
  background-color: none;
  border: none;
  color: none;
}

.loginLink{
  color: #FF5EA6;
  text-decoration: none;
  padding-left: 5px;
}

.textLogin{
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font: poppins;
}