body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input{
  backdrop-filter: blur(4px);
}

.loginForm{
   /* display: flex;
  justify-content: end; */
  width: 25rem;
  /* position: relative;
  left: 270px;  */
  margin-top: 150px;
   /* justify-content: end; */
  /* padding-left: 400px; */

}

.imagenLogIn {
  margin-top: 150px;


}


.loginButton {
  background-color: #6A5FFF;
  width: 100%;
  border-radius: 8px;
}


.loginButton:hover {
  background-color: rgb(50, 32, 255);
}

.loginLabel{
  color: white;
}

.inputLogin{
  backdrop-filter: blur(3.6px);
  background-color: transparent;
  border: #3C3C3CB2 1px solid;
  border-radius: 8px;
}

.inputLogin:hover{
  translate: 0px -4px;
}

.divRemember{
  color: #797676;
  margin-left: 10px;
  
}

.divRememberButton{
  background-color: none;
  border: none;
  color: none;
}

.loginLink{
  color: #FF5EA6;
  text-decoration: none;
  padding-left: 5px;
}

.textLogin{
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  font: poppins;
}