/*  
    Programa Trainit
        Departamento de UX/UI
        Alias | Versión: 1.0.0

    Autores
        Jose Miguel Beltran | Product Designer
        Oscar Araujo | UX/UI Designer

    Indice
        Color System
*/
@import "./globals.css";

/* 
    Alias
*/

:root {
  /*___ Color System ....φ(︶▽︶)φ.... */

  /*___ Background ___*/
  --alias-color-background-body: var(--global-color-neutral-900);
  --alias-color-background-hight: var(--global-color-neutral-600);
  --alias-color-background-medium: var(--global-color-neutral-800);


  /*___ Text ___*/
  --alias-color-text-default: var(--global-color-neutral-0);
  --alias-color-text-inverted: var(--global-color-neutral-10000);
  --alias-color-text-subtle: var(--global-color-neutral-500);

  /*___ State ___*/
  --alias-color-state-default: var(--global-color-primary-500);
  --alias-color-state-hover: var(--global-color-primary-600);
  --alias-color-state-disabled: var(--global-color-neutral-200);

  /*___ Border ___*/
  --alias-color-border-subtle: var(--global-color-neutral-900);
  --alias-color-border-medium: var(--global-color-neutral-500);
  --alias-color-border-heavy: var(--global-color-neutral-200);
}
