@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input{
  backdrop-filter: blur(4px);
}

.loginForm{
   /* display: flex;
  justify-content: end; */
  width: 25rem;
  /* position: relative;
  left: 270px;  */
  margin-top: 150px;
   /* justify-content: end; */
  /* padding-left: 400px; */

}

.imagenLogIn {
  margin-top: 150px;


}
